<% include partials/header %>


<div id="aboutwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
      </div>
    </div>
  </div> <!-- /container -->
</div>
  
<div class="container" style="padding-top: 30px; padding-bottom: 30px">
  <div class="row text-center">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>RYAN SHIM</h2>
      <p>I am currently participating in a 12-week web development bootcamp to prepare for a future career as a web developer. the full-time course will cover Ruby, HTML5, CSS3, Databases and APIs, JavaScript, JQuery and AJAX, Ruby on Rails.</p>
      <p>I grew up in Los Angeles California for the majority of my life. I then got accepeted to the University of California, San Diego where I earned my Bachelors Degree in Economics. I am now currently in San Francisco with aims to become a web developer.</p>
      <p>I am a big fan of all sports. DONT JUDGE ME but, my favorite sports teams are the Los Angeles Lakers, Los Angeles Dodgers, and the Pittsburg Steelers. WAHOOO </p>
    </div>
  </div>
</div>


<% include partials/footer %>