<% include partials/header %>



<!-- THIS IS MY HEADERRRR!!!!!!!! -->

<div id="headerwrap">
  <div class="container">
    <div class="row" style="margin-top: -60px">
      <div class="col-lg-6 col-lg-offset-3">
        <h3>HELLO PEOPLE. MY NAME IS</h3>
        <h1>RYAN SHIM</h1>
        <h3>DEVELOPER     IN      TRAINING     &     SPORTS     ADDICT</h3>
      </div>
    </div>
  </div> 
</div>




<!-- A LITTLE DESCRIPTION ABOUT MYSELFFFF -->

<div class="container ptb" style="padding-top: 25px;">
      <div class="row">
        <h2 class="centered mb text-center">I craft handsome sites & stunning apps<br/>that empower your startup.</h2>
        <div class="col-md-6">
          <p>Currently, I am a student of the full stack Web Development Immersive program at General Assembly, looking to contribute to a team and grow my skills as a junior developer.</p>
        </div><!--/col-md-6-->
        <div class="col-md-6">
          <p>By the end of this program, I will know JavaScript, Ruby, HTML, CSS, Node.js, Express, Rails, SQL, PostgreSQL, Sequelize, Git/GitHub, Heroku, jQuery, JSON. </p>
        </div><!--/col-md-6-->
      </div><!--/row-->
    </div><!-- /.container -->
    <div class="container" style="padding-top: 45px">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img src="/img/items.png" class="img-responsive" alt="">
        </div>
      </div><!--/row-->
    </div><!--/.container-->





<!-- MY PROJECTS -->
<div id="g">
  <div class="container">
    <div class="row centered">
      <section id="works"></section>
      <h2>Check some of my latest works.</h2>
      <div class="col-md-8 col-md-offset-2">
        <p>Check out some of my latest works. This is a timeline of applications I have been building throughout the course. I have only chosen a select few that I am particularly proud of, and I will be updating new applications along the way. Be on the lookout!</p>
      </div><!--/col-md-8-->
    </div><!--/row-->
  </div><!--/.container-->
</div>

<div id="f">
  <div class="container" style=" padding-bottom: 30px">
    <div class="row-center">
      <h1>My Portfolio</h1>
      
      <div class=" col-lg-4 col-md-4 col-sm-4  gallery">
        <a rel= "gallery" class="fancybox" title="<h2>MovieMon</h2><h4>Ever want to search your favorite movies???</h4><h4>If you do... Get all your movie neccessities HERE!</h4><a href='https://ryanmovies.herokuapp.com' target='_blank'>See More...</a>" rel="group" href="https://i.imgur.com/R3stn23.png"><img class="img-responsive" src="https://i.imgur.com/R3stn23.png"></a>
      </div>

      <div class=" col-lg-4 col-md-4 col-sm-4 gallery">
        <a rel= "gallery" class="fancybox" title="<h2>Foodmon</h2><h4>Having trouble deciding what to eat?</h4><h4>Look no futher.. You can get all your food necessities HERE!</h4><a href='https://firstproject24.herokuapp.com' target='_blank'>See More...</a>" rel="group" href="https://i.imgur.com/n15xzz5.jpg"><img class="img-responsive" src="https://i.imgur.com/n15xzz5.jpg"></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a rel= "gallery" class="fancybox" title="<h2>Cookmon</h2><h4>Need a place to store all our recipes?</h4><h4>Look no futher.. You can get all your store all your cookbooks HERE!</h4><a href='#' target='_blank'>Coming Soon...</a>" rel="group" href="https://i.imgur.com/cQX4pUH.png"><img class="img-responsive" src="https://i.imgur.com/cQX4pUH.png"></a>
      </div>
      
    </div>
  </div>
</div>





<!-- ABOUT MEEEE -->
<div id="aboutwrap" style="margin-top: 1px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
      </div>
    </div>
  </div> <!-- /container -->
</div>

<section id="about"></section>
<div class="me" style="background: #f5f5f5">
  <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>RYAN SHIM</h2>
        <p>I am in a 12-week web development boot camp to prepare for a future career in web development. The full-time course covers Ruby, HTML5, CSS3, Databases and APIs, JavaScript, JQuery and AJAX, Ruby on Rails.</p>
        <p>While I grew up in Los Angeles, I attended the University of California, San Diego, where I earned my Bachelor’s Degree in Economics. I am now in San Francisco, preparing to become a web developer.</p>
        <p>I am a big fan of all sports. DON’T JUDGE ME, but my favorite sports teams are the Los Angeles Lakers, Los Angeles Dodgers, and the Pittsburg Steelers. WAHOOO </p>
      </div>
    </div>
  </div>
</div>




<!-- CONCLUSION -->
<div class="thanks">
  <div class="container">
    <div class="row text-center" style="padding-top: 30px;">
      <h2>A special shout out to General Asembly for teaching me how to make awesome websites!</h2>
      <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
        <img class="img-responsive" src="http://www.entrepreneur.com/dbimages/slideshow/general-assembly.jpg" alt="">
      </div>
    </div>
  </div>
</div>


<section id="contact"></section>
<div id="sep">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>I live in the amazing city of San Francisco</h1>
        <h3>If you are ever in the area and in need of a coding buddy, contact me using the methods below!</h3>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/.sep-->



<% include partials/footer %>